{% extends 'base.html' %}
{% block content %}
<table border="1">
    <thead>
        <h1 class="text-center">Вы действительно хотите удалить курс?</h1>
    </thead>
    <tbody>
        <form method="POST">
            <h3 class="text-center">ID = {{ course.id }}</h3>
            <h3 class="text-center">ФИО = {{ course.name }}</h3>
         <p class="text-center"><button type="submit" class="btn btn-danger" style="font-size:50px" >Удалить</button></p>
        </form>
    </tbody>
</table>

{% endblock content %}